<div class="dashboard-heading">
    <div class="container">
        <div class="row justify-content-lg-end justify-content-between">
            <div class="col-xl-9 col-lg-12">
                <ul class="nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Student/dashboard" class="nav-link active">Dashboard</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="profile.html" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="find_coach.html" class="nav-link">Find Coach</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="ai_Tracker.html" class="nav-link">AI Branch</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="nutrition.html" class="nav-link ">Nutrition</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="workout.html" class="nav-link">Workout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>