<div class="dashboard-heading">
    <div class="container">
        <div class="row justify-content-lg-end justify-content-between">
            <div class="col-xl-9 col-lg-12">
                <ul class="nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/dashboard" class="nav-link active">Dashboard</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/studentreport" class="nav-link">Student</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/aitracker" class="nav-link">AI Branch</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/counselling" class="nav-link">Counselling</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/nutrition" class="nav-link">Nutrition</a>
                    </li>
                    <!--<li class="nav-item" role="presentation">
                        <a href="workout.html" class="nav-link">Workout</a>
                    </li>-->
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/uploadvideo" class="nav-link">Upload Video</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Coach/uploadvideo_report" class="nav-link">Report </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>