<div class="dashboard-heading">
    <div class="container">
        <div class="row justify-content-lg-end justify-content-between">
            <div class="col-xl-9 col-lg-12">
                <ul class="nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/report_Coach" class="nav-link active ">Coach</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/studentreport" class="nav-link">Student</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/aitracker" class="nav-link">AI Branch</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/package" class="nav-link">Package</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="/UI/Admin/workout" class="nav-link ">Workout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>